<!DOCTYPE html>
<html>
  <head>
    <title>YOLOv5 Detection</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body class="home">
    <div class="home-left">
        <img src="../static/images/home.webp" alt="no image" class="home-image">
    </div>
    <div class="home-right">
      <h2>Welcome to </h2>  <h1> Fruit Quality App </h1>
      <div>
        <a href="/upload_image"><button class="home-button-1" >Upload Image</button></a>
        <a href="/upload_video"><button class="home-button-2">Upload Video</button></a>
        <a href="/video_feed"><button class="home-button-3">Real-time Webcam</button></a>
      </div>
    </div>
  </body>
</html>
